atomicwrites==1.2.1
attrs==18.2.0
beautifulsoup4==4.7.0
bs4==0.0.1
certifi==2018.11.29
chardet==3.0.4
fuzzywuzzy==0.17.0
idna==2.8
more-itertools==5.0.0
numpy==1.15.4
pandas==0.23.4
pathlib2==2.3.3
pluggy==0.8.0
py==1.7.0
pytest==4.0.2
python-dateutil==2.7.5
pytz==2018.7
requests==2.21.0
six==1.12.0
soupsieve==1.6.1
urllib3==1.24.1
